In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# loading in dataset
df = pd.read_csv('../data/raw/European_Ski_Resorts.csv')

# Converting Columns to numerical values

In [9]:
# Converting 'NightSki' and 'Snowparks' columns to numerical values
df['NightSki'] = df['NightSki'].map({'Yes':1, 'No':0})
df['Snowparks'] = df['Snowparks'].map({'Yes':1, 'No':0})

In [10]:
df[df['Country'] == 'Denmark']

,#,Resort,Country,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,Snowparks,NightSki,SurfaceLifts,ChairLifts,GondolaLifts,TotalLifts,LiftCapacity,SnowCannons
216,217,Dry slopes Dayz Søhøjlandets Skicenter,Denmark,100,80,36,0,0,0,0,NaN,0,0,0,0,0,0,0
217,218,Indoor ski area Skidome Denmark – Randers (pla...,Denmark,120,10,0,1,1,1,3,NaN,0,0,0,0,0,0,0
218,219,Dry slopes Indoorski – Rødovre,Denmark,53,50,0,0,0,0,0,NaN,0,0,0,0,0,0,0
219,220,Dry slopes Ski Arena – Aarhus,Denmark,23,20,0,0,0,0,0,NaN,0,0,0,0,0,0,0
220,221,Copenhagen (planned),Denmark,0,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0
221,222,Østerlars (Bornholm),Denmark,110,72,18,0,0,0,0,NaN,0,0,0,0,0,1220,0
222,223,Hoch Hylkedal – Kolding,Denmark,45,20,15,0,0,0,0,NaN,0,0,0,0,0,600,0
341,342,Hedelands Skicenter,Denmark,78,33,17,0,0,0,0,NaN,0,0,0,0,0,1600,4