In [94]:
from sklearn.linear_model import Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [84]:
# get processed dataset
df = pd.read_csv('../data/processed/European_Ski_Resorts.csv')

In [85]:
df = pd.get_dummies(df, columns=['Country'], dtype=float)

In [86]:
df

,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,Snowparks,NightSki,SurfaceLifts,...,Country_Serbia,Country_Siberia,Country_Slovakia,Country_Slovenia,Country_Southern Russia,Country_Spain,Country_Sweden,Country_Switzerland,Country_Ukraine,Country_United Kingdom
0,1980,740,52,30,81,4,115,1,0,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2640,1710,47,100,77,33,210,1,1,37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1130,900,30,1,0,1,2,0,0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1620,780,42,15,33,3,51,1,1,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2320,940,22,30,26,21,77,1,0,6,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2749,1372,48,96,220,84,400,0,1,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
364,2749,1372,48,96,220,84,400,0,1,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
365,3275,1212,43,23,94,15,132,1,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366,3275,1212,43,23,94,15,132,1,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
367,2188,1000,52,23,16,4,44,1,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
# split data into "X" and "y" set
#resort_interests = ['HighestPoint', 'TotalSlope', 'Snowparks', 'NightSki', 'ChairLifts', 'GondolaLifts', 'TotalLifts', 'LiftCapacity', 'SnowCannons']

resort_interests = ['HighestPoint', 'LowestPoint', 'BeginnerSlope', 'IntermediateSlope',
                    'DifficultSlope', 'TotalSlope', 'Snowparks', 'NightSki', 'SurfaceLifts',
                    'ChairLifts', 'GondolaLifts', 'TotalLifts', 'LiftCapacity', 'SnowCannons']

X = df.drop('DayPassPriceAdult', axis=1)
y = df['DayPassPriceAdult']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Comparsion of Ridge and Lasso Regression

In [97]:
# Lasso Regression

lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)
lasso_predictions = lasso_model.predict(X_test)

c:\Users\Salma\Anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.687e+01, tolerance: 4.026e+00
  model = cd_fast.enet_coordinate_descent(

In [98]:
y_pred = lasso_model.predict(X_test)
lasso_r2 = r2_score(y_test, lasso_predictions)
mse = mean_squared_error(y_test, y_pred)

print(f'Lasso R^2 is {lasso_r2}')
print(f'Mean Squared Error is {mse}')

Lasso R^2 is 0.719855139625083
Mean Squared Error is 28.54128017710975

In [100]:
# Ridge Regression

ridge_model = Ridge(alpha=0.1)
ridge_model.fit(X_train, y_train)
ridge_predictions = ridge_model.predict(X_test)

y_pred = ridge_model.predict(X_test)
ridge_r2 = r2_score(y_test, ridge_predictions)
mse = mean_squared_error(y_test, y_pred)

print(f'Ridge R^2 is {ridge_r2}')
print(f'Mean Squared Error is {mse}')

Ridge R^2 is 0.7091828605966854
Mean Squared Error is 29.62857660464421